@font-face {
  font-family: "IRANYekanX";
  src: url("/beauty-store/src/fonts/IRANYekan-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "IRANYekanX";
  src: url("/beauty-store/src/fonts/IRANYekanX-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "IRANYekanX";
  src: url("/beauty-store/src/fonts/IRANYekan-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}